@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
.banner, .header a, .header img, .inmuebles .inmuebles-cards, .footer .redes-sociales a, .hero, .hero .hero-form, .contactanos, .contactanos .contactanos-link, .conoceme .conoceme-text, .vr-main, .vr-main .vr-hero-form, .vr-main .vr-hero-form .vr-hero-form-inside, .main-acerca-de, .main-acerca-de .asesor h2, .main-acerca-de .asesor-info .asesor-img, .main-acerca-de .asesor-text, .contactanos-main, .contactanos-main .contactanos-main-info, .contactanos-main .contactanos-main-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header, .inmuebles, .footer .redes-sociales, .inmuebles-index, .conoceme {
  display: grid;
  justify-items: center;
  align-items: center; }

/* fuente, clases que se repiten */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  display: flex;
  flex-direction: column; }

.container-grid {
  width: 100%;
  margin: 0;
  display: grid; }

.banner {
  width: 100%;
  height: 150px;
  background-color: #e4fde1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  .banner h2 {
    color: #2f323a;
    font-size: 50px; }

.header {
  width: 100%;
  height: 100px;
  background-color: #2f323a;
  grid-template-columns: 1fr 3fr 3fr; }
  .header a {
    text-decoration: none; }
  .header img {
    height: 80px;
    width: 80px; }
  .header h1 {
    color: white;
    font-size: 40px; }
  .header nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly; }
    .header nav ul li {
      display: inline-block; }
      .header nav ul li a {
        text-decoration: none;
        color: aliceblue;
        margin: 10px;
        padding: 5px 8px;
        font-size: 20px;
        background-color: #505562;
        border-radius: 5px; }
        .header nav ul li a:hover {
          background-color: #25272d; }

.inmuebles {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  margin: 30px;
  width: 95%; }
  .inmuebles .inmuebles-cards {
    height: 300px;
    width: 250px;
    border: 2px solid #d7dbe3;
    border-radius: 5px;
    text-align: center;
    transition: all .4s ease-out;
    box-shadow: 5px 5px 5px 5px #eaeef5; }
    .inmuebles .inmuebles-cards:hover {
      transform: scale(1.1); }
    .inmuebles .inmuebles-cards img {
      height: 77%;
      width: 100%; }

.footer {
  width: 100%;
  height: 100%;
  background-color: #ccdad1;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr; }
  .footer .footer-home-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; }
    .footer .footer-home-link img {
      height: 150px;
      width: 150px; }
    .footer .footer-home-link a {
      text-decoration: none; }
    .footer .footer-home-link h2 {
      font-size: 45px;
      color: #505562; }
  .footer .footer-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; }
    .footer .footer-contact h3 {
      font-size: 15px; }
    .footer .footer-contact iframe {
      width: 100%;
      height: 65%; }
  .footer .redes-sociales {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .footer .redes-sociales img {
      height: 50%;
      width: 50%; }

.hero {
  background-image: url(../images/interior-casa-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 100px);
  width: 100%; }
  .hero .hero-form {
    width: 100%;
    height: 200px;
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f;
    text-align: center; }
    .hero .hero-form #caracteristica {
      width: 100%;
      height: 30%; }

.inmuebles-index {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0 30px 0; }
  .inmuebles-index img {
    height: 77%;
    width: 100%; }
  .inmuebles-index .inmuebles-cards {
    height: 300px;
    width: 250px;
    border: 2px solid #eaeef5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .4s ease-out;
    box-shadow: 5px 5px 5px 5px #d7dbe3; }
    .inmuebles-index .inmuebles-cards:hover {
      transform: scale(1.1); }

.contactanos {
  background-image: url(../images/interior-casa-5.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25%; }
  .contactanos .contactanos-link h2 {
    font-size: 4.5rem;
    color: #d1603d; }
  .contactanos .contactanos-link a {
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    background-color: #505562;
    margin: 2px;
    padding: 5px;
    font-weight: 900;
    font-size: 1.3rem; }
    .contactanos .contactanos-link a:hover {
      background-color: #25272d; }

.conoceme {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: 20px 0 30px 0; }
  .conoceme img {
    width: 100%;
    height: 100%; }
  .conoceme .conoceme-text h2 {
    font-size: 35px; }
  .conoceme .conoceme-text p {
    margin: 30px;
    text-align: center; }
  .conoceme .conoceme-text a {
    text-decoration: none;
    color: aliceblue;
    background-color: #505562;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px; }
    .conoceme .conoceme-text a:hover {
      background-color: #25272d; }

.vr-main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #e4fde1;
  background-image: url(../images/interior-casa-4.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .vr-main .vr-hero-form {
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f; }
    .vr-main .vr-hero-form .vr-hero-form-inside h2 {
      font-size: 40px; }
    .vr-main .vr-hero-form .vr-hero-form-inside h3 {
      font-size: 30px; }

.main-acerca-de {
  width: 100%;
  background-color: #ecf1f6;
  height: calc(100vh - 100px); }
  .main-acerca-de .asesor {
    height: 100%; }
    .main-acerca-de .asesor h2 {
      text-align: center;
      background-color: #e4fde1;
      font-size: 50px;
      grid-column: span 2; }
  .main-acerca-de .asesor-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: calc(90vh - 150px); }
    .main-acerca-de .asesor-info .asesor-img img {
      width: 85%; }
  .main-acerca-de .asesor-text {
    font-size: 20px;
    margin: 0 20px 0 20px; }

.contactanos-main {
  width: 100%;
  height: calc(100vh - 100px); }
  .contactanos-main h2 {
    font-size: 40px; }
  .contactanos-main .contactanos-main-info {
    width: 100%;
    height: 100%;
    background-image: url(../images/handshake.webp);
    background-position: center; }
    .contactanos-main .contactanos-main-info label {
      font-size: 25px;
      margin: 10px; }
    .contactanos-main .contactanos-main-info input {
      width: 200px; }
  .contactanos-main .contactanos-main-info-form {
    width: 50%;
    height: 350px;
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f; }

@media screen and (max-width: 768px) {
  .inmuebles {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }

@media screen and (max-width: 425px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: auto; }
    .header h1 {
      font-size: 4.5rem; }
    .header img {
      width: 150px;
      height: 150px; }
  .inmuebles {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    margin-top: 40px;
    margin-bottom: 40px; }
    .inmuebles .inmuebles-cards {
      height: 550px;
      width: 500px; }
      .inmuebles .inmuebles-cards h3 {
        font-size: 2rem; }
      .inmuebles .inmuebles-cards p {
        font-size: 1.5rem; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .footer-home-link h2 {
      font-size: 3.4rem; }
    .footer .footer-contact h2 {
      font-size: 3.5rem; }
    .footer .footer-contact h3 {
      font-size: 2.3rem; }
    .footer .redes-sociales {
      display: flex;
      width: 90%; } }

@media screen and (max-width: 425px) {
  .hero {
    height: 1500px; }
    .hero .hero-form {
      height: 750px; }
      .hero .hero-form .hero-form-inside {
        width: 750px; }
        .hero .hero-form .hero-form-inside h2 {
          font-size: 4rem; }
        .hero .hero-form .hero-form-inside h3 {
          font-size: 3rem; }
        .hero .hero-form .hero-form-inside select {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 4rem; }
  .inmuebles-index {
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr; }
    .inmuebles-index .inmuebles-cards {
      width: 550px;
      height: 550px;
      font-size: 2rem; }
  .contactanos .contactanos-link h2 {
    font-size: 9rem;
    text-align: center; }
  .contactanos .contactanos-link a {
    font-size: 3.5rem; }
  .conoceme {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .conoceme img {
      width: 50%; }
    .conoceme .conoceme-text h2 {
      font-size: 7rem; }
    .conoceme .conoceme-text p {
      font-size: 40px; }
    .conoceme .conoceme-text a {
      font-size: 3.5rem; } }

@media screen and (max-width: 425px) {
  .vr-main {
    height: 1500px; }
    .vr-main .vr-hero-form {
      height: 1150px; }
      .vr-main .vr-hero-form .vr-hero-form-inside {
        width: 800px;
        display: flex;
        flex-direction: column; }
        .vr-main .vr-hero-form .vr-hero-form-inside h2 {
          font-size: 5rem;
          text-align: center; }
        .vr-main .vr-hero-form .vr-hero-form-inside label {
          font-size: 2.5rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside input {
          width: 2rem;
          height: 2rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside h3 {
          font-size: 2rem;
          text-align: center; }
        .vr-main .vr-hero-form .vr-hero-form-inside #nombre {
          width: 20rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside #correo {
          width: 20rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside #numero-telefonico {
          width: 20rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside input[type=reset] {
          width: 10rem;
          height: 3rem;
          font-size: 2rem; }
        .vr-main .vr-hero-form .vr-hero-form-inside input[type=submit] {
          width: 10rem;
          height: 3rem;
          font-size: 2rem; } }

@media screen and (max-width: 425px) {
  .main-acerca-de {
    height: 100%; }
    .main-acerca-de .banner h2 {
      font-size: 4rem; }
    .main-acerca-de .asesor {
      height: 1600px; }
    .main-acerca-de .asesor-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; }
    .main-acerca-de .asesor-img {
      margin: 30px 0 30px 0;
      width: 80%; }
    .main-acerca-de .asesor-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      font-size: 2.5rem; } }

@media screen and (max-width: 425px) {
  .banner h2 {
    font-size: 5rem; }
  .contactanos-main {
    height: 1450px; }
    .contactanos-main .contactanos-main-info-form {
      width: 75%;
      height: 60%; }
      .contactanos-main .contactanos-main-info-form h2 {
        font-size: 5rem;
        text-align: center; }
      .contactanos-main .contactanos-main-info-form form label {
        font-size: 3rem; }
      .contactanos-main .contactanos-main-info-form input[type=nombre] {
        width: 25rem;
        height: 3rem; }
      .contactanos-main .contactanos-main-info-form input[type=email] {
        width: 25rem;
        height: 3rem; }
      .contactanos-main .contactanos-main-info-form input[type=tel] {
        width: 25rem;
        height: 3rem; }
      .contactanos-main .contactanos-main-info-form input[type=reset] {
        width: 10rem;
        height: 3rem;
        font-size: 2rem; }
      .contactanos-main .contactanos-main-info-form input[type=submit] {
        width: 10rem;
        height: 3rem;
        font-size: 2rem; } }
