/* fuente, clases que se repiten */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  display: flex;
  flex-direction: column; }

.container-grid {
  width: 100%;
  margin: 0;
  display: grid; }

.banner {
  width: 100%;
  height: 150px;
  background-color: #e4fde1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner h2 {
    color: #2f323a;
    font-size: 50px; }

.header {
  width: 100%;
  height: 100px;
  background-color: #2f323a;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  align-items: center; }
  .header a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header img {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header h1 {
    color: white;
    font-size: 40px; }
  .header nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly; }
    .header nav ul li {
      display: inline-block; }
      .header nav ul li a {
        text-decoration: none;
        color: aliceblue;
        margin: 10px;
        padding: 5px 8px;
        font-size: 20px;
        background-color: #505562;
        border-radius: 5px; }
        .header nav ul li a:hover {
          background-color: #25272d; }

.inmuebles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 15px;
  margin: 50px;
  width: 95%; }
  .inmuebles .inmuebles-cards {
    height: 300px;
    width: 250px;
    border: 2px solid #d7dbe3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .4s ease-out;
    box-shadow: 5px 5px 5px 5px #d7dbe3; }
    .inmuebles .inmuebles-cards:hover {
      transform: scale(1.1); }
    .inmuebles .inmuebles-cards img {
      height: 77%;
      width: 100%; }

.footer {
  width: 100%;
  height: 100%;
  background-color: #ccdad1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center; }
  .footer .footer-home-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center; }
    .footer .footer-home-link img {
      height: 150px;
      width: 150px; }
    .footer .footer-home-link a {
      text-decoration: none; }
    .footer .footer-home-link h2 {
      font-size: 45px;
      color: #505562; }
  .footer .footer-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; }
    .footer .footer-contact h3 {
      font-size: 15px; }
    .footer .footer-contact iframe {
      width: 80%;
      height: 65%; }
  .footer .redes-sociales {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center; }
    .footer .redes-sociales a {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer .redes-sociales img {
      height: 50%;
      width: 50%; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/interior-casa-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 100px);
  width: 100%; }
  .hero .hero-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f; }
    .hero .hero-form #caracteristica {
      width: 100%;
      height: 30%; }

.inmuebles-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0 30px 0;
  justify-items: center; }
  .inmuebles-index img {
    height: 77%;
    width: 100%; }
  .inmuebles-index .inmuebles-cards {
    height: 300px;
    width: 250px;
    border: 2px solid #d7dbe3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .4s ease-out;
    box-shadow: 5px 5px 5px 5px #d7dbe3; }
    .inmuebles-index .inmuebles-cards:hover {
      transform: scale(1.1); }

.contactanos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/interior-casa-5.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25%; }
  .contactanos .contactanos-link {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .contactanos .contactanos-link h2 {
      font-size: 4.5rem;
      color: #d1603d; }
    .contactanos .contactanos-link a {
      text-decoration: none;
      color: aliceblue;
      border-radius: 5px;
      background-color: #505562;
      margin: 2px;
      padding: 5px;
      font-weight: 900;
      font-size: 20px; }
      .contactanos .contactanos-link a:hover {
        background-color: #25272d; }

.conoceme {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  width: 100%;
  margin: 20px 0 30px 0; }
  .conoceme img {
    width: 100%;
    height: 100%; }
  .conoceme .conoceme-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .conoceme .conoceme-text h2 {
      font-size: 35px; }
    .conoceme .conoceme-text p {
      margin: 30px;
      text-align: center; }
    .conoceme .conoceme-text a {
      text-decoration: none;
      color: aliceblue;
      background-color: #505562;
      padding: 5px;
      border-radius: 5px;
      font-weight: 800;
      font-size: 20px; }
      .conoceme .conoceme-text a:hover {
        background-color: #25272d; }

.vr-main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #e4fde1;
  background-image: url(../images/interior-casa-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .vr-main .vr-hero-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f;
    align-items: center;
    justify-content: center; }
    .vr-main .vr-hero-form .vr-hero-form-inside {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .vr-main .vr-hero-form .vr-hero-form-inside h2 {
        font-size: 40px; }
      .vr-main .vr-hero-form .vr-hero-form-inside h3 {
        font-size: 30px; }

.main-acerca-de {
  width: 100%;
  background-color: #ecf1f6;
  height: calc(100vh - 100px); }
  .main-acerca-de .asesor h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e4fde1;
    font-size: 50px;
    grid-column: span 2; }
  .main-acerca-de .asesor-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: calc(90vh - 100px); }
    .main-acerca-de .asesor-info .asesor-img {
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-acerca-de .asesor-info .asesor-img img {
        width: 85%; }
  .main-acerca-de .asesor-text {
    font-size: 20px;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.contactanos-main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column; }
  .contactanos-main h2 {
    font-size: 40px; }
  .contactanos-main .contactanos-main-info {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    background-image: url(../images/handshake.webp);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contactanos-main .contactanos-main-info label {
      font-size: 25px;
      margin: 10px; }
    .contactanos-main .contactanos-main-info input {
      width: 200px; }
  .contactanos-main .contactanos-main-info-form {
    width: 50%;
    height: 350px;
    padding: 40px;
    background-color: #eaeef5;
    border-radius: 5px;
    border-color: #eaeef5;
    box-shadow: 0px 0px 36px 11px #5e697f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
