.vr-main {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgb(228, 253, 225);
    background-image: url(../images/interior-casa-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    @extend %flex;

    .vr-hero-form {
        @extend %flex;
        padding: 40px;
        background-color: $tertiary-color;
        border-radius: 5px;
        border-color: $tertiary-color ;
        box-shadow: 0px 0px 36px 11px  $shadow-color;

        .vr-hero-form-inside {
            @extend %flex;

            h2 {
                font-size: 40px;
            }

            h3 {
                font-size: 30px;
            }
        }
    }
}