.inmuebles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 15px;
    margin: 50px;
    width: 95%;
    
    .inmuebles-cards {
        height: 300px;
        width: 250px;
        border: 2px solid rgb(215, 219, 227);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .4s ease-out;
        box-shadow: 5px 5px 5px 5px rgb(215, 219, 227);

        &:hover {
            transform: scale(1.1);
        }

        img {
            height: 77%;
            width: 100%;
        }
        
    }
}